@import "./../../utils";

.mock-infobox {
    display: flex;
    border-top: black pebbleH(1) solid;
    border-bottom: black pebbleH(1) solid;
    margin: pebbleH(3) 0;
    padding-right: pebbleW(3);
    .mock-infobox-icon {
        &.red {
            background-color: #E35462;
        }

        margin-right: pebbleW(3);
        padding-left: pebbleW(2);
        padding-right: pebbleW(2);

        svg {
            width: pebbleW(18);
        }
    }

    .mock-infobox-text {
        padding: pebbleH(6) 0;
    }
}
