.feature-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);

    h3 {
        font-family: 'Tomorrow', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
    }
}

.feature-card-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 0.75rem;

    svg {
        width: 1.5625rem;
        height: 1.5625rem;
    }
}
