.pebble-frame {
    position: relative;
    aspect-ratio: 571/973;
    width: 270px;
    max-width: 80vw;

    &::before {
        content: "";
        pointer-events: none;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &.pebble-time:before {
        background-image: url('images/pebble-time.png');
    }

    &.pebble-2:before {
        background-image: url('images/pebble-2.png');
    }

    .pebble-screen {
        height: 100%;
        container-type: size;
    }

    &.pebble-2 .pebble-screen {
        padding-top: 57.4%;
        padding-bottom: 57%;
        padding-left: 24.6%;
        padding-right: 24.5%;
    }

    &.pebble-time .pebble-screen {
        padding-top: 54.4%;
        padding-bottom: 54%;
        padding-left: 23.5%;
        padding-right: 23%;
    }

    .pebble-screen-content {
        background: #ffffff;
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        font-size: 16cqw;
        font-family: "Oswald", sans-serif;
        font-weight: 300;

        p, hr {
            margin: 0;
            line-height: 1.2;
        }

        .body {
            padding: 5cqw;
        }

        .center {
            text-align: center;
        }

        .dotted {
            border: none;
            border-top: 1px dotted black;
        }

        .gothic-14 {
            font-size: 0.5em;
        }
        .gothic-28 {
            font-size: 1.5em;
        }
        .bold {
            font-weight: 500;
        }
    }
}
