@import "../utils";

.pebble-frame {
    position: relative;
    aspect-ratio: 571/973;
    width: 270px;
    max-width: 80vw;

    &::before {
        content: "";
        pointer-events: none;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &.pebble-time:before {
        background-image: url('images/pebble-time.png');
    }

    &.pebble-2:before {
        background-image: url('images/pebble-2.png');
    }

    .pebble-screen {
        height: 100%;
        container-type: size;
        user-select: none;
    }

    .pebble-screen {
        padding-top: 54%;
        padding-bottom: 54%;
        padding-left: 23.5%;
        padding-right: 23%;
    }

    .pebble-screen-content {
        background: #ffffff;
        height: 100%;
        overflow: hidden;

        font-size: 16cqw;
        font-family: "Oswald", sans-serif;
        font-weight: 300;

        p, hr {
            margin: 0;
            line-height: 1.2;
        }

        .body {
            margin: pebbleH(5) 0;
        }

        .container {
            padding: 0 pebbleH(5);
        }

        .center {
            text-align: center;
        }

        .dotted {
            border: none;
            border-top: 1px dotted black;
        }

        .gothic-14 {
            font-size: 0.5em;
        }
        .gothic-24 {
            font-size: 0.8em;
            line-height: 1.3;
        }
        .gothic-28 {
            font-size: 1.5em;
        }
        .bold {
            font-weight: 500;
        }
    }
}
